<html>
	<head>
		<!--script src="/scripts/socket.io.min.js"></script-->
		<script src="https://cdn.socket.io/4.1.3/socket.io.min.js"></script>
        <script src="/tic-tac-toe.js"></script>
        <script src="/multiplayer.js"></script>
	</head>
	<body>
        <!-- tic tac toe UI-->
		<div>
            <h1 style = "margin-top: 7px; font-weight:normal;"> tic tac toe</h1>

            <div style = "float: left">
                <div onclick = "showXorO('topLeft')" id= "topLeft" style = "border-width: medium;border-color: black; border-style:solid; width: 50px; height: 50px; float: left" >
                </div>
                <div onclick = "showXorO('topCenter')" id= "topCenter" style = "border-width: medium;border-color: black; border-style:solid; width: 50px; height: 50px; float: left;">
                </div>
                <div onclick = "showXorO('topRight')" id= "topRight" style = "border-width: medium;border-color: black; border-style:solid; width: 50px; height: 50px; float: left;">
                </div>
            </div>
            <div style = "float: left; clear:left">
                <div onclick = "showXorO('middleLeft')" id= "middleLeft" style = "border-width: medium;border-color: black; border-style:solid; width: 50px; height: 50px; float: left">
                </div>
                <div onclick = "showXorO('middleCenter')" id= "middleCenter" style = "border-width: medium;border-color: black; border-style:solid; width: 50px; height: 50px; float: left " >
                </div>
                <div onclick = "showXorO('middleRight')" id= "middleRight" style = "border-width: medium;border-color: black; border-style:solid; width: 50px; height: 50px; float: left">
                </div>
            </div>
            <div style = "float: left; clear:left">
                <div onclick = "showXorO('bottomLeft')" id= "bottomLeft" style = "border-width: medium;border-color: black; border-style:solid; width: 50px; height: 50px; float: left">
                </div>
                <div onclick = "showXorO('bottomCenter')" id= "bottomCenter" style = "border-width: medium;border-color: black; border-style:solid; width: 50px; height: 50px; float: left">
                </div>
                <div onclick = "showXorO('bottomRight')" id= "bottomRight" style = "border-width: medium;border-color: black; border-style:solid; width: 50px; height: 50px; float: left">
                </div>
            </div>
            <div style = "float: left; clear:left" id="TTTResult"></div>
        </div>

        <!--chat box UI-->
		<input type="text" class="message" style="margin-left: 260px;">
		<button onclick="sendMessage()">send message</button>
		<p style="margin-left: 428px;"><!-- your chat messages here --></p>


	</body>
</html>
